.App {
    margin: 0 15%;
}

main{
    background-color: #b5e4fe;
    padding: 10% 15%;
}
.search-add{
    display: grid;
    grid-template-columns: 79% 20%;
    grid-gap: 1%;
    text-align: right;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr;
}

